<div>
    <table>
      <tr>
        <td>Username</td>
        <td><input type="text" [(ngModel)]="user.userName"></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" [(ngModel)]="user.password"></td>
      </tr>
      <tr>
        
        <tr>
        <td colspan="2">
            <button (click)="Validate()">SingIn</button>
      </td>
    </tr>
    <tr>
      <td colspan="1">
        <span style="color: rebeccapurple;">{{errMsg}}</span>
      </td>
    </tr>
  </table>
  <button class="btn">  <a routerLink="signup">  <b>  Are you a new user </b> </a> </button>
</div>
 
